---
import SubTitleLayout from "../../../layouts/SubTitleLayout.astro";
import GithubIcon from "../../icons/GithubIcon.astro";
import OpenIcon from "../../icons/OpenIcon.astro";

interface Props {
  title: string;
  github: string | null;
  figma: string | null;
  projectUrl: string;
}

const { title, figma, github, projectUrl } = Astro.props;
---

<div class="p-[1px] rounded-sm gradient relative overflow-hidden w-full">
  <div class="bg-black rounded-sm p-2 h-full">
    <SubTitleLayout>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <h2>{title}</h2>
          <slot name="responsive" />
        </div>
        <div
          class="text-2xl right-3 bottom-3 cursor-pointer flex flex-row items-center gap-2"
        >
          <a href={projectUrl} target="_blank"><OpenIcon /></a>
          {
            github ? (
              <a
                href={github}
                target="_blank"
                class="text-white/50 hover:text-cyan-400 transition-all"
              >
                <GithubIcon />
              </a>
            ) : null
          }
          {
            figma ? (
              <a href={figma} target="_blank">
                <svg
                  class="text-white/50 hover:text-cyan-400 transition-all"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <g fill="none" stroke="currentColor" stroke-width="1.5">
                    <>
                      <path d="M12 2H8.667a3.333 3.333 0 1 0 0 6.667H12zm0 6.667H8.667a3.333 3.333 0 0 0 0 6.666H12z" />
                      <path d="M18.667 12A3.333 3.333 0 1 1 12 12a3.333 3.333 0 0 1 6.667 0Zm-10 3.334H12v3.333a3.333 3.333 0 1 1-3.333-3.334Z" />
                      <path d="M12 2h3.333a3.333 3.333 0 1 1 0 6.667H12z" />
                    </>
                  </g>
                </svg>
              </a>
            ) : null
          }
        </div>
      </div>
    </SubTitleLayout>
    <div
      class="px-2 my-2 border border-dashed border-y-white/20 border-transparent text-sm"
    >
      <slot name="description" />
    </div>
    <SubTitleLayout>
      <h2>Technologies</h2>
    </SubTitleLayout>
    <slot name="technologies" />
  </div>
  <!-- Decorations -->
  <div
    class="absolute h-20 w-20 border border-dashed border-white/20 rounded-full -bottom-10 -right-10"
  >
  </div>
  <div
    class="absolute h-28 w-28 border border-dashed border-white/20 rounded-full -bottom-14 -right-14"
  >
  </div>
  <div
    class="absolute h-14 w-14 border border-dashed border-white/20 rounded-full bottom-14 right-14"
  >
  </div>
  <div
    class="absolute h-7 w-7 border border-dashed border-white/20 rounded-full bottom-5 right-32"
  >
  </div>
  <div
    class="absolute h-7 w-28 rotate-45 border border-dashed border-t-white/20 border-transparent bottom-[5px] -right-3"
  >
  </div>
  <!-- Decorations -->
</div>

<style>
  .gradient {
    background: #ffffff;
    background: radial-gradient(at left top, #ffffff, #000000);
  }
</style>
