---
import SubTitleLayout from "../../../layouts/SubTitleLayout.astro";
import OpenIcon from "../../icons/OpenIcon.astro";

interface Props {
  title: string;
  github: string | null;
  figma: string | null;
  projectUrl: string;
}

const { title, figma, github, projectUrl } = Astro.props;
---

<div class="p-[1px] rounded-sm gradient relative overflow-hidden w-full">
  <div class="bg-black rounded-sm p-2 h-full">
    <SubTitleLayout>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <h2>{title}</h2>
          <slot name="responsive" />
        </div>
        <div
          class="text-2xl right-3 bottom-3 cursor-pointer flex flex-row items-center gap-2"
        >
          <slot name="project-urls" />
          <a href={projectUrl} target="_blank"><OpenIcon /></a>
          {
            github ? (
              <a href={github} target="_blank">
                <svg
                  class="text-white/50 hover:text-cyan-400 transition-all"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill="currentColor"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"
                  />
                </svg>
              </a>
            ) : null
          }
          {
            figma ? (
              <a href={figma} target="_blank">
                <svg
                  class="text-white/50 hover:text-cyan-400 transition-all"
                  width="1em"
                  height="1em"
                  viewBox="0 0 24 24"
                >
                  <g fill="none" stroke="currentColor" stroke-width="1.5">
                    <>
                      <path d="M12 2H8.667a3.333 3.333 0 1 0 0 6.667H12zm0 6.667H8.667a3.333 3.333 0 0 0 0 6.666H12z" />
                      <path d="M18.667 12A3.333 3.333 0 1 1 12 12a3.333 3.333 0 0 1 6.667 0Zm-10 3.334H12v3.333a3.333 3.333 0 1 1-3.333-3.334Z" />
                      <path d="M12 2h3.333a3.333 3.333 0 1 1 0 6.667H12z" />
                    </>
                  </g>
                </svg>
              </a>
            ) : null
          }
        </div>
      </div>
    </SubTitleLayout>
    <div
      class="px-2 my-2 border border-dashed border-y-white/20 border-transparent text-sm"
    >
      <slot name="description" />
    </div>
    <SubTitleLayout>
      <h2>Technologies</h2>
    </SubTitleLayout>
    <slot name="technologies" />
  </div>
  <!-- Decorations -->
  <div
    class="absolute h-20 w-20 border border-dashed border-white/20 rounded-full -bottom-10 -right-10"
  >
  </div>
  <div
    class="absolute h-28 w-28 border border-dashed border-white/20 rounded-full -bottom-14 -right-14"
  >
  </div>
  <div
    class="absolute h-14 w-14 border border-dashed border-white/20 rounded-full bottom-14 right-14"
  >
  </div>
  <div
    class="absolute h-7 w-7 border border-dashed border-white/20 rounded-full bottom-5 right-32"
  >
  </div>
  <div
    class="absolute h-7 w-28 rotate-45 border border-dashed border-t-white/20 border-transparent bottom-[5px] -right-3"
  >
  </div>
  <!-- Decorations -->
</div>

<style>
  .gradient {
    background: #ffffff;
    background: radial-gradient(at left top, #ffffff, #000000);
  }
</style>
