---

---

<!-- Photo  -->
<div class="flex h-full justify-center items-center px-4 md:p-2 relative">
  <img
    src="/img/img-01.png"
    alt="Photo Cool 😎!"
    class="md:p-1 h-[20rem] w-full md:w-auto md:h-[40rem] grayscale aspect-auto"
  />
  <!-- Decorations -->
  <!-- Photo's mask -->
  <div
    class="absolute bg-gradient-to-t from-black to-transparent h-[20rem] md:h-[40rem] w-full"
  >
  </div>
  <!-- Photo's mask -->
  <div
    class="absolute border border-l-white/20 border-transparent border-dashed h-[90%] w-2 right-0 md:right-0"
  >
  </div>
  <div
    class="absolute border border-r-white/20 border-transparent border-dashed h-[90%] w-[6rem] -left-[5rem] md:left-0"
  >
  </div>
  <div
    class="absolute border border-r-white/20 border-transparent border-dashed h-[50%] w-[6rem] right-[5rem] bottom-0 rotate-45"
  >
  </div>
  <div
    class="absolute border border-r-white/20 border-transparent border-dashed h-[60%] w-[6rem] right-[5rem] bottom-0 rotate-45"
  >
  </div>
  <div
    class="absolute border border-r-white/20 border-transparent border-dashed h-[40%] w-[9rem] -top-[5rem] -left-[0rem] rotate-45"
  >
  </div>
  <!-- top line -->
  <div
    class="absolute border border-t-white/20 border-transparent border-dashed h-[10%] w-[30rem] top-[1rem] md:top-[5rem] md:right-8"
  >
  </div>
  <!-- top line -->
  <!-- Circle -->
  <div
    class="absolute border border-white/20 border-dashed h-[5rem] w-[5rem] rounded-full -top-[1.4rem] md:top-10 -right-6 md:right-14"
  >
  </div>
  <!-- Circle -->
  <!-- Decorations -->
</div>
