---
import SubTitleLayout from "../../layouts/SubTitleLayout.astro";
import TitleLayout from "../../layouts/TitleLayout.astro";
---

<section id="interesses" class="py-[6rem]">
  <TitleLayout title="Some topics that I like..." />
  <div
    class="w-full grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-4 p-[1rem] flex-wrap"
  >
    <div class="p-2">
      <SubTitleLayout>
        <div class="flex items-center gap-2">
          <span class="text-3xl"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="M27 24a2.96 2.96 0 0 0-1.285.3l-4.3-4.3H18v2h2.586l3.715 3.715A2.967 2.967 0 0 0 24 27a3 3 0 1 0 3-3m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1m0-15a2.995 2.995 0 0 0-2.816 2H18v2h6.184A2.995 2.995 0 1 0 27 13m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1m0-15a3.003 3.003 0 0 0-3 3a2.966 2.966 0 0 0 .348 1.373L20.596 10H18v2h3.404l4.4-4.252A2.999 2.999 0 1 0 27 2m0 4a1 1 0 1 1 1-1a1 1 0 0 1-1 1"
              ></path><path
                fill="currentColor"
                d="M18 6h2V4h-2a3.976 3.976 0 0 0-3 1.382A3.976 3.976 0 0 0 12 4h-1a9.01 9.01 0 0 0-9 9v6a9.01 9.01 0 0 0 9 9h1a3.976 3.976 0 0 0 3-1.382A3.976 3.976 0 0 0 18 28h2v-2h-2a2.002 2.002 0 0 1-2-2V8a2.002 2.002 0 0 1 2-2m-6 20h-1a7.005 7.005 0 0 1-6.92-6H6v-2H4v-4h3a3.003 3.003 0 0 0 3-3V9H8v2a1 1 0 0 1-1 1H4.08A7.005 7.005 0 0 1 11 6h1a2.002 2.002 0 0 1 2 2v4h-2v2h2v4h-2a3.003 3.003 0 0 0-3 3v2h2v-2a1 1 0 0 1 1-1h2v4a2.002 2.002 0 0 1-2 2"
              ></path></svg
            >
          </span>
          <p class="text-lg">Artifial Intelligence</p>
        </div>
      </SubTitleLayout>
    </div>
    <div class="p-2">
      <SubTitleLayout
        ><div class="flex items-center gap-2">
          <span class="text-3xl"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 32 32"
              ><path
                fill="currentColor"
                d="M23 7h4v4h-4zm0 6h4v4h-4zm-6-6h4v4h-4zm0 6h4v4h-4z"
              ></path><circle cx="14.5" cy="24.5" r="1.5" fill="currentColor"
              ></circle><path
                fill="currentColor"
                d="M21 30H8a2.002 2.002 0 0 1-2-2V4a2.002 2.002 0 0 1 2-2h13v2H8v24h13v-8h2v8a2.002 2.002 0 0 1-2 2"
              ></path></svg
            >
          </span>
          <p class="text-lg">Mobile App</p>
        </div>
      </SubTitleLayout>
    </div>
    <div class="p-2">
      <SubTitleLayout
        ><div class="flex items-center gap-2">
          <span class="text-3xl"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M4 18q-.825 0-1.412-.587T2 16V8q0-.825.588-1.412T4 6h16q.825 0 1.413.588T22 8v8q0 .825-.587 1.413T20 18zm0-2h16V8H4zm3-1h2v-2h2v-2H9V9H7v2H5v2h2zm7.5 0q.625 0 1.063-.437T16 13.5t-.437-1.062T14.5 12t-1.062.438T13 13.5t.438 1.063T14.5 15m3-3q.625 0 1.063-.437T19 10.5t-.437-1.062T17.5 9t-1.062.438T16 10.5t.438 1.063T17.5 12M4 16V8z"
              ></path></svg
            >
          </span>
          <p class="text-lg">Video Games</p>
        </div>
      </SubTitleLayout>
    </div>
    <div class="p-2">
      <SubTitleLayout
        ><div class="flex items-center gap-2">
          <span class="text-3xl"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 36 36"
              ><path
                fill="currentColor"
                d="M30.86 20.94a4.74 4.74 0 0 1 1.86.64h.05a15.12 15.12 0 0 0-.61-8.37a1 1 0 1 0-1.87.69a13.19 13.19 0 0 1 .57 7.04m-4.53 7.64a13 13 0 0 1-6.07 2.82a1 1 0 1 0 .17 2h.18a15.16 15.16 0 0 0 7.21-3.4v-.07a4.7 4.7 0 0 1-1.49-1.35m-10.71 2.76a13.27 13.27 0 0 1-4.29-1.61a15.09 15.09 0 0 1-1.63-1.11A4.69 4.69 0 0 1 8.24 30a15.9 15.9 0 0 0 2.07 1.48a15.4 15.4 0 0 0 4.94 1.86h.19a1 1 0 0 0 .18-2M4.56 21.15q.3 0 .6-.09A13 13 0 0 1 5.7 14a1 1 0 0 0-1.88-.69a15 15 0 0 0-.56 8.43a4.77 4.77 0 0 1 1.3-.59"
              ></path><path
                fill="currentColor"
                d="M31.9 23a3.2 3.2 0 0 0-2.43-.42a3.33 3.33 0 0 0-1.4.77l-3.87-2.24a6.87 6.87 0 0 0-2.77-8.43l-.11-.07a6.73 6.73 0 0 0-2.42-.81V8a3.23 3.23 0 0 0 1.88-1.5A3.3 3.3 0 0 0 19.65 2a3.15 3.15 0 0 0-2.42-.32a3.24 3.24 0 0 0-2 1.51a3.3 3.3 0 0 0 1.13 4.46a3 3 0 0 0 .74.35v3.8a6.63 6.63 0 0 0-4.86 3.28a6.85 6.85 0 0 0-.42 6l-4 2.29a3.79 3.79 0 0 0-.45-.37A3.2 3.2 0 0 0 3 24.21a3.3 3.3 0 0 0 1.1 4.46a3.21 3.21 0 0 0 1.65.46a2.93 2.93 0 0 0 .78-.1a3.25 3.25 0 0 0 2.34-3.94v-.17l3.88-2.24a7 7 0 0 0 1.89 1.71a6.49 6.49 0 0 0 8.73-1.7l3.83 2.21a3.29 3.29 0 0 0 1.45 3.64A3.18 3.18 0 0 0 33 27.41A3.3 3.3 0 0 0 31.9 23M8.05 10a13 13 0 0 1 5.35-3.77a5 5 0 0 1-.17-2.07a15.15 15.15 0 0 0-6.7 4.51A1 1 0 0 0 8.05 10"
              ></path><path
                fill="currentColor"
                d="M24.67 7.23A13.11 13.11 0 0 1 27.93 10a1 1 0 1 0 1.52-1.3a15 15 0 0 0-3.76-3.2a15.87 15.87 0 0 0-2.94-1.33a4.79 4.79 0 0 1-.15 2.06a14.1 14.1 0 0 1 2.07 1"
              ></path><path fill="none" d="M0 0h36v36H0z"></path></svg
            >
          </span>
          <p class="text-lg">Internet of Things (IoT)</p>
        </div>
      </SubTitleLayout>
    </div>
  </div>
</section>
