---
import { Image } from "astro:assets";

import TitleLayout from "../../layouts/TitleLayout.astro";
import CSSIcon from "../icons/CSSIcon.astro";
import MantineIcon from "../icons/MantineIcon.astro";
import NextIcon from "../icons/NextIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import TailwindIcon from "../icons/TailwindIcon.astro";
import TSIcon from "../icons/TSIcon.astro";
import ZustandIcon from "../icons/ZustandIcon.astro";
import CardProject from "./projects/CardProject.astro";
import TechContainer from "./projects/TechContainer.astro";
// design/servioriente-app
// design/shaddai-app
---

<section id="projects" class="h-full py-[6rem]">
  <TitleLayout title="Projects I have been working on..." />
  <div class="p-2 md:p-5 flex flex-col gap-6">
    <CardProject
      title="CRM Social Media App"
      projectUrl="https://servioriente-app.vercel.app/"
      github={"https://github.com/SimonBrial/Servioriente_app"}
      figma=""
    >
      <div
        slot="image"
        class="w-[99.7%] h-[99.5%] absolute border border-transparent bg-black"
      >
        <Image
          src="/img/so.png"
          alt="Servioriente App"
          class="container h-[19.8rem] w-full"
          width={500}
          height={600}
        />
      </div>
      <p slot="description">
        The creation of this app posed a great challenge due to all the
        considerations that had to be made when developing it, in addition, the
        design was a pleasure to do because it had to meet each and every one of
        the requirements that the client requested. and that it had remarkable
        simplicity when using it
      </p>
      <div class="flex gap-2 items-center flex-wrap mt-2" slot="technologies">
        <TechContainer techLabel="Next.js">
          <NextIcon />
        </TechContainer>
        <TechContainer techLabel="Mantine UI">
          <MantineIcon />
        </TechContainer>
        <TechContainer techLabel="Zustand">
          <ZustandIcon />
        </TechContainer>
        <TechContainer techLabel="TypeScript">
          <TSIcon />
        </TechContainer>
        <TechContainer techLabel="CSS">
          <CSSIcon />
        </TechContainer>
      </div>
    </CardProject>
    <CardProject
      title="Shaddai App"
      projectUrl="https://shaddai-app-m1pz.vercel.app/"
      github={"https://github.com/SimonBrial/shaddai_app"}
      figma=""
    >
      <div
        slot="image"
        class="w-[99.7%] h-[99.5%] absolute border border-transparent bg-black"
      >
        <Image
          src="/img/shaddai.png"
          alt="Shaddai App"
          class="container h-[19.8rem] w-full"
          width={500}
          height={600}
        />
      </div>
      <p slot="description">
        The simplicity and ease of implementing an inventory management system
        was the premise for carrying out this project, meeting the client's
        requirements and maintaining similarity with its branding.
      </p>
      <div class="flex gap-2 items-center flex-wrap mt-2" slot="technologies">
        <TechContainer techLabel="React">
          <ReactIcon />
        </TechContainer>
        <TechContainer techLabel="Tailwind">
          <TailwindIcon />
        </TechContainer>
        <TechContainer techLabel="Zustand">
          <ZustandIcon />
        </TechContainer>
        <TechContainer techLabel="TypeScript">
          <TSIcon />
        </TechContainer>
      </div>
    </CardProject>
  </div>
</section>
