---
import SkillListContainer from "./skills/SkillListContainer.astro";
import SkillPhotoContainer from "./skills/SkillPhotoContainer.astro";

// pt-[30rem] md:pt-[15rem]
---

<section id="skills" class="py-[6rem]">
  <div
    class="w-full h-full flex justify-center items-center md:gap-4 md:divide-x md:divide-dashed divide-white/20 border-b-white/20 border-t-white/20 border-dashed border border-transparent"
  >
    <!-- description -->
    <SkillListContainer />

    <!-- Photo  -->
    <div class="hidden md:block w-1/2">
      <SkillPhotoContainer />
    </div>
  </div>
</section>
