---
import "@fontsource-variable/exo";
import Navbar from "../components/reactComponents/Navbar";
import SocialMediaContainer from "../components/astroComponents/SocialMediaContainer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-black custom-scrollbar">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content="Simon Brice単o - Portfolio" />
    <meta
      name="description"
      content="These are some of my projects that I have been creating since I started my path as a web developer and I will continue adding projects and solutions to this great repertoire of ideas."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portfolio-web-117.vercel.app/" />
    <meta property="og:title" content="Simon Brice単o - Portfolio" />
    <meta
      property="og:description"
      content="These are some of my projects that I have been creating since I started my path as a web developer and I will continue adding projects and solutions to this great repertoire of ideas."
    />
    <meta
      property="og:image"
      content="https://i.postimg.cc/0yJgSHbq/opengraph.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://portfolio-web-117.vercel.app/"
    />
    <meta property="twitter:title" content="Simon Brice単o - Portfolio" />
    <meta
      property="twitter:description"
      content="These are some of my projects that I have been creating since I started my path as a web developer and I will continue adding projects and solutions to this great repertoire of ideas."
    />
    <meta
      property="twitter:image"
      content="https://i.postimg.cc/0yJgSHbq/opengraph.png"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
  </head>
  <body class="flex justify-center items-center">
    <Navbar client:load />
    <main
      class="pt-[0rem] px-[1rem] md:px-[8rem] h-screen w-full -mr-[2rem] md:mr-0"
    >
      <slot />
    </main>
    <SocialMediaContainer />
    <div class="block fixed z-20 right-2 md:right-8 bottom-10">
      <p class="[writing-mode:vertical-lr] text-md rotate-180">
        simon.antonio.ba18@gmail.com
      </p>
    </div>
  </body>
</html>
<style is:global>
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px; /* Tama単o del scroll en vertical */
    display: block; /* Ocultar scroll */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
  }
  body {
    font-family: "Exo Variable", sans-serif;
  }
  html {
    font-family: system-ui, sans-serif;
    color-scheme: dark light;
    scroll-behavior: smooth;
    overflow-y: scroll;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
